@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/onHoverScrollbar/onHover.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/* // TODO: Find out why Chakra Petch is not loading
@layer base {
  html {
    font-family: Chakra Petch;
  }
} */

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

.capitalize-first-letter {
  text-transform: capitalize;
}

.scrollhost {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

